{% extends 'base.html.twig' %}

{% block title %}Profil de :{% endblock %}

{% block body %}
    <link rel="stylesheet" href="profil.css">
    <h2>Profil de :</h2>

    <div>{{ participant.nom }}</div>
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
    <div>{{ participant.prenom }}</div>
    <div>{{ participant.pseudo }}</div>
    <div>{{ participant.email }}</div>
    <div>{{ participant.telephone }}</div>
    <div>{{ participant.campus.nom }}</div>
{% endblock %}
