{% extends 'participant/baseprofil.html.twig' %}
{% block title %}
        {% if participant.id == app.user.id %}
            Mon profil {{ participant.pseudo }}
            {% else %}
                {{ participant.pseudo }}
        {% endif %}
{% endblock %}


{% block photo %}
        "{{ asset('images/profil/'~participant.image) }}" alt="image de profil de {{ participant.pseudo }}"
{% endblock %}

{#sur boostrap non tailwind css#}
{% block infos %}
<div class="row justify-content-center">
        {{ form_start(participantForm) }}

        <div class="row">
                <div class="col-lg-6">
                        <div class="mb-3 row align-items-center">
                                {{ form_row(participantForm.nom) }}
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="mb-3 row align-items-center">
                                {{ form_row(participantForm.prenom) }}
                        </div>
                </div>
        </div>

        <div class="row">
                <div class="col-lg-6">
                        <div class="mb-3 row align-items-center">
                                {{ form_row(participantForm.pseudo) }}
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="mb-3 row align-items-center">
                                {{ form_row(participantForm.email) }}
                        </div>
                </div>
        </div>
        <div class="row">
                <div class="col-lg-6">
                        <div class="mb-3 row align-items-center">
                                {{ form_row(participantForm.telephone) }}
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="mb-3 row align-items-center">
                                {{ form_row(participantForm.image) }}
                        </div>
                </div>
        </div>
        <div class="mb-3 d-flex justify-content-center align-items-center">
                <div class="col-lg-6">
                        {{ form_row(participantForm.campus) }}
                </div>
        </div>
        <div class="row">
                <div class="col-lg-6">
                        <div class="mb-3 row align-items-center">
                                {{ form_row(participantForm.password.first) }}
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="mb-3 row align-items-center">
                                {{ form_row(participantForm.password.second) }}
                        </div>
                </div>
        </div>

        <div class="mb-3 d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary">Modifier le Profil</button>
        </div>


        {{ form_end(participantForm) }}
</div>

{% endblock %}
