{% extends 'base.html.twig' %}

{% block title %} modification de vos données {% endblock %}


{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Modifier la sortie "{{ sortie.nom }}"</h1>
        <br>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <strong>{{ form_label(form.nom) }}</strong>
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <strong>{{ form_label(form.dateHeureDebut) }}</strong>
                    {{ form_widget(form.dateHeureDebut, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <strong>{{ form_label(form.dateLimiteInscription) }}</strong>
                    {{ form_widget(form.dateLimiteInscription, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <strong>{{ form_label(form.nbInscriptionMax) }}</strong>
                    {{ form_widget(form.nbInscriptionMax, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <strong>{{ form_label(form.duree) }}</strong>
                    {{ form_widget(form.duree, {'attr': {'class': 'form-control'}}) }} minutes
                </div>
                <div class="mb-3">
                    <strong>{{ form_label(form.infosSortie) }}</strong>
                    {{ form_widget(form.infosSortie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <strong>{{ form_label(form.campus) }}</strong>
                    {{ form_widget(form.campus, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <strong>{{ form_label(form.ville) }}</strong>
                    {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <strong>{{ form_label(form.lieu) }}</strong>
                    {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <strong>{{ form_label(form.lieuRue) }}</strong>
                    {{ form_widget(form.lieuRue, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <strong>{{ form_label(form.villeCodePostal) }}</strong>
                    {{ form_widget(form.villeCodePostal, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <strong>{{ form_label(form.lieuLatitude) }}</strong>
                    {{ form_widget(form.lieuLatitude, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <strong>{{ form_label(form.lieuLongitude) }}</strong>
                    {{ form_widget(form.lieuLongitude, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <button type="submit" name="action" value="enregistrer" class="btn btn-primary mt-3 me-2">Enregistrer</button>
                <button type="submit" name="action" value="publier" class="btn btn-success mt-3 me-2">Publier</button>
                <button type="button" class="btn btn-danger mt-3 me-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Supprimer</button>
                <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}" class="btn btn-secondary mt-3">Annuler</a>
            </div>
        </div>

        {{ form_end(form) }}

        {# Modal de confirmation de suppression de ma sortie :) #}
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation de suppression</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Êtes-vous sûr de vouloir supprimer cette sortie ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <a href="{{ path('sortie_delete', {'id': sortie.id}) }}" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
