<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path('sortie_list') }}">Accueil</a>
    </li>
    {% if app.user %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ path('participant_details_personnel') }}">Mon profil</a>
    </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Campus</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Créer</a></li>
                <li><a class="dropdown-item" href="#">Lister</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ville</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('villes_create') }}">Créer</a></li>
                <li><a class="dropdown-item" href="{{ path('villes_list') }}">Lister</a></li>
            </ul>
        </li>
    {% endif %}
    {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
        </li>
    {% endif %}
</ul>
